div(id="city" class="VisualStyle") #{city}
div(id="country" class="VisualStyle") #{country}
div(id="weather" class="VisualStyle") #{weather}
div(id="temperature" class="VisualStyle") #{temperature}
div(id="speedofweend" class="VisualStyle") #{speedofweend}
div(id="wetness" class="VisualStyle") #{wetness}